.btn{
    z-index: 2;
    font-size: 1.5vw;
    line-height: 2.5vw;
    display: inline-block;
    width: 30%;
    height: 3vw;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: rgb(239, 239, 239);
    margin: auto 1vw;
    border-radius: 3px;
    box-shadow: 1px 2px 3px grey;
}
.btn:hover{
    transform: scale(0.99);
    box-shadow: 1px 2px 4px rgb(26, 25, 25);
}