.text {
    
    position: relative;
    height: 60%;
    width: 90%;
    text-align: justify;
    background-color: rgb(206, 190, 177);
    margin: auto auto;
    text-align: center;
    
    
}
.conten{
   
    position: relative;
    top: 1vw;
    margin-bottom: 1vw;
}
.author{
    
    position: absolute;
    bottom: 0.5vw;
    
    right: 1vw;
    
}